.container {
    width: 150vw;/*590*/
    border: 1px;
  }
  section,
  aside {
    margin: 1.8587361%; /*  10px ÷ 538px = .018587361 */
  }
  section {
    float: left;
    width:63.19%;    /* 340px ÷ 538px = .63197026 */  
    border-radius: 5px;
    background: skyblue;
  }
  aside {
    float: right;
    width: 29.3680297%;  /* 158px ÷ 538px = .293680297 */
    background: skyblue;
  }
  input[type=button] {
    color: green;
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  input[type="button"]:hover{
    background: yellow;
    color: red;
  }
  

  