<!DOCTYPE html>
<head>
    <title>EMS-TKEV</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.2.3/js/foundation.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.2.3/js/foundation/foundation.forms.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>-->
<!--    &lt;!&ndash; <script src="mqttws31.js" type="text/javascript"></script> &ndash;&gt;-->
<!--    <script src="jquery.min.js" type="text/javascript"></script>-->
<!--    <script src="config.js" type="text/javascript"></script>-->
<!--    <link rel="stylesheet" href="praticalcss.css">-->
<!--    <link rel="stylesheet" href="reset.css">-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
      <script th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js}"></script>
      <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js}"></script>
      <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js}"></script>
      <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/foundation/4.2.3/js/foundation.min.js}"></script>
      <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/foundation/4.2.3/js/foundation/foundation.forms.min.js}"></script>
      <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js}"></script>
      <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js}"></script>
      <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js}" type="text/javascript"></script>
    <script type="text/javascript">
        var host = 'tkevn.ddns.net';	// hostname or IP address
        var port = 8001;
        var useTLS = false;
        var username ="user1";
        var password = "minh";
        cleansession = true;
    var mqtt;
    var reconnectTimeout = 2000;      
    function startConnect() 
    {
	if (typeof path == "undefined") 
       {
		path = '/mqtt';
	   }
	    mqtt = new Paho.MQTT.Client(
			host,
			port,
			path,
			"web_" + parseInt(Math.random() * 100, 10),          
	    );
        var options = {
            timeout: 3,
            keepAliveInterval:60,
            useSSL: useTLS,
            
                //keyPath: 'client.key',
                //certPath: 'client.crt',
                //rejectUnauthorized : false, 
                //The CA list will be used to determine if server is authorized
                //protocol: 'wss',
               // protocolId: 'MQTT',       
            cleanSession: cleansession,
            onSuccess: onConnect,
            onFailure: function (message) 
            {
                $('#connectStatus').val("Connection failed: " + message.errorMessage + "Retrying");
                setTimeout(MQTTconnect, reconnectTimeout);
            }
        };
        
        mqtt.onConnectionLost = onConnectionLost;
        mqtt.onMessageArrived = onMessageArrived;

        if (username != null) 
        {
            options.userName = username;
            options.password = password;
        }
        console.log("Host=");
      
        console.log("Host="+ host + ", port=" + port + ", path=" + path + " TLS = " + useTLS + " username=" + username + " password=" + password);
        mqtt.connect(options);
    }

    function onConnect() {
        $('#connectStatus').val('CONNECTED TO TK ELEVATOR SERVER');//status "+ host + ':' + port + path"
        
        // Connection succeeded; subscribe to lift of topic:display
        for(var i=0; i<8;i++) {

            var subscribetopicdisplay = "P"+(i+1).toString().toUpperCase()+"/display";
            mqtt.subscribe(subscribetopicdisplay, {qos: 0});
            console.log(subscribetopicdisplay)
            $('#subscribetopic').val(subscribetopicdisplay);
            var subscribetopicdoorstatus = "P"+(i+1).toString().toUpperCase()+"/doorstatus";
            mqtt.subscribe(subscribetopicdoorstatus, {qos: 0});
            console.log(subscribetopicdisplay)
            $('#subscribetopicdisplay').val(subscribetopicdoorstatus);
            var subscribetopicdirection = "P"+(i+1).toString().toUpperCase()+"/direction";
            mqtt.subscribe(subscribetopicdirection, {qos: 0});
            $('#subscribetopic').val(subscribetopicdirection);
            var subscribetopiconoff = "P"+(i+1).toString().toUpperCase()+"/onoff";
            mqtt.subscribe(subscribetopiconoff, {qos: 0});
            $('#subscribetopic').val(subscribetopiconoff);
            var subscribetopicliftstatus = "P"+(i+1).toString().toUpperCase()+"/liftstatus";
            mqtt.subscribe(subscribetopicliftstatus, {qos: 0});
            $('#subscribetopic').val(subscribetopicliftstatus);
        }
        /*
         // Connection succeeded; subscribe to lift of topic:doorstatus
        mqtt.subscribe(doorstatusp, {qos: 0});
        $('#doorstatusp').val(doorstatusp);
         // Connection succeeded; subscribe to lift of topic:direction
        mqtt.subscribe(directionp, {qos: 0});
        $('#directionp').val(directionp);
         // Connection succeeded; subscribe to lift of topic:onoff
        mqtt.subscribe(onoffp, {qos: 0});
        $('#onoffp').val(onoffp);
        // Connection succeeded; subscribe to lift of topic:liftstatus
        mqtt.subscribe(liftstatusp, {qos: 0});
        $('#liftstatusp').val(liftstatusp);
       */
    }

    function onConnectionLost(response) {
        setTimeout(MQTTconnect, reconnectTimeout);
        $('#connectStatus').val("connection lost: " + responseObject.errorMessage + ". Reconnecting");

    };

    function onMessageArrived(message) {
        
        var topic = message.destinationName;
        var payload = message.payloadString;
      if(topic==document.getElementById("elevator").value +"/doorstatus") // 
      {
        if(payload.toUpperCase()=="CLOSED") {
        $('#doorstatus').val(payload.toUpperCase());
        }
        else if(payload.toUpperCase()=="OPENED"){
        $('#doorstatus').val(payload.toUpperCase());
        }
      } 
      else if(topic==document.getElementById("elevator").value +"/display") {
        if(payload.toUpperCase()=="1" || payload.toUpperCase()=="2" ||payload.toUpperCase()=="3" ||payload.toUpperCase()=="4" ||payload.toUpperCase()=="5" ||
        payload.toUpperCase()=="6" ||payload.toUpperCase()=="7" ||payload.toUpperCase()=="8" ||payload.toUpperCase()=="9" ||payload.toUpperCase()=="10" ||
        payload.toUpperCase()=="11" ||payload.toUpperCase()=="12" ||payload.toUpperCase()=="13" ||payload.toUpperCase()=="14" ||payload.toUpperCase()=="15" ||
        payload.toUpperCase()=="16" ||payload.toUpperCase()=="17" ||payload.toUpperCase()=="18" ||payload.toUpperCase()=="19" ||payload.toUpperCase()=="20" ||
        payload.toUpperCase()=="21" ||payload.toUpperCase()=="22" ||payload.toUpperCase()=="23" ||payload.toUpperCase()=="24" ||payload.toUpperCase()=="25" ||
        payload.toUpperCase()=="26" ||payload.toUpperCase()=="27" ||payload.toUpperCase()=="28" ||payload.toUpperCase()=="29" ||payload.toUpperCase()=="30" ||
        payload.toUpperCase()=="31" ||payload.toUpperCase()=="32" ||payload.toUpperCase()=="33" ||payload.toUpperCase()=="34" ||payload.toUpperCase()=="35" ||
        payload.toUpperCase()=="36" ||payload.toUpperCase()=="37" ||payload.toUpperCase()=="38" ||payload.toUpperCase()=="39" ||payload.toUpperCase()=="40" ||
        payload.toUpperCase()=="B1" ||payload.toUpperCase()=="B2" ||payload.toUpperCase()=="B3" ||payload.toUpperCase()=="G" ||payload.toUpperCase()=="M" ||
        payload.toUpperCase()=="B" ||payload.toUpperCase()=="12A" ||payload.toUpperCase()=="12B" ||payload.toUpperCase()=="A" ||payload.toUpperCase()=="3A")
        {
            $('#display').val(payload.toUpperCase());
        }
       
      }
      else if (topic==document.getElementById("elevator").value +"/direction") {
        if(payload.toUpperCase()=="UP") {
        $('#direction').val('\u2191')
        }
        else if (payload.toUpperCase()=="DN") {
        $('#direction').val('\u2193')
       }
       else if (payload.toUpperCase()=="STP") {
        $('#direction').val('_')
       }
    }
      else if (topic==document.getElementById("elevator").value +"/onoff"){
        if (payload.toUpperCase()=="STP") {
        $('#direction').val('LIFT-OFF')
        }
        else if(payload.toUpperCase()=="ON") {
        $('#onoff').val('ON');
        $('#onoff').blur();
        }
        else if(payload.toUpperCase()=="OFF") {
        $('#onoff').val('OFF')

        }
      }      
      else if(topic==document.getElementById("elevator").value +"/liftstatus") {  
        if(payload.toUpperCase() == "JU" || payload.toUpperCase() == "IF" ||payload.toUpperCase() == "AUTO" || payload.toUpperCase() == "FULL" || 
        payload.toUpperCase() == "FIRE" || payload.toUpperCase() == "OVERLOAD" || payload.toUpperCase() == "--" ||payload.toUpperCase() == "ATT"
        || payload.toUpperCase() == "PAK")    
        $('#liftstatus').val(payload.toUpperCase())
      }

        //$('#ws').prepend(' ' + payload);
       
    };
    function startDisconnect()
    {
        $('#connectStatus').val('DISCONNETED');
        mqtt.disconnect();
       
    }
//Luu y cho nay vì da thay NQTTconect bang startConnect, this line will make a auto connect when lunch app and keep alive to broker
    $(document).ready(function() {
        startConnect();
    });
    function publishMessage(){
        var msg = document.getElementById("messagep").value;
        var topic = document.getElementById("topic_p").value;
        Message = new Paho.MQTT.Message(msg);
        Message.destinationName = topic;
        mqtt.send(Message);
        document.getElementById("messages").innerHTML += "<span> Message to topic "+topic+ " with value = " +msg + " is sent </span><br>";
    }//set timer interval event
    setInterval(myTimer, 3000);
    var i=1;
    var msg2="up";
    //function in clycle
    function myTimer() {   
        var msg1 = i.toString();
        var topic1 = "P1/display";
        var msg2 = "up";
        var topic2 = "P1/direction";
        var msg3 = "on";
        var topic3 = "P1/onoff";
        var msg4 = "closed";
        var topic4 = "P1/doorstatus";
        var msg5 = "auto";
        var topic5 = "P1/liftstatus";
        if(i%3==0) msg4="opened";
        Message1 = new Paho.MQTT.Message(msg1);
        Message1.destinationName = topic1;
        Message2 = new Paho.MQTT.Message(msg2);
        Message2.destinationName = topic2;
        Message3= new Paho.MQTT.Message(msg3);
        Message3.destinationName = topic3;
        Message4 = new Paho.MQTT.Message(msg4);
        Message4.destinationName = topic4;
        Message5 = new Paho.MQTT.Message(msg5);
        Message5.destinationName = topic5;
        mqtt.send(Message1);
        mqtt.send(Message2);
        mqtt.send(Message3);
        mqtt.send(Message4);
        mqtt.send(Message5);
        i++;if(i>40) i=1;
    }
    function attClick(){
        var msg = "att activation";
        var topic = document.getElementById("elevator").value +"/"+ "att";
        Message = new Paho.MQTT.Message(msg);
        Message.destinationName = topic;
        mqtt.send(Message);
        document.getElementById("messages").innerHTML += "<span> Message to topic "+topic+ " with value = " +msg + " is sent </span><br>";
    }
    function opendoor(){
        var msg = "door is opened";
        var topic = document.getElementById("elevator").value +"/"+ "dooropened";
        Message = new Paho.MQTT.Message(msg);
        Message.destinationName = topic;
        mqtt.send(Message);
        document.getElementById("messages").innerHTML += "<span> Message to topic "+topic+ " with value = " +msg + " is sent </span><br>";
    }
    function closedoor(){
        var msg = "door is closed";
        var topic = document.getElementById("elevator").value +"/"+ "doorclosed";
        Message = new Paho.MQTT.Message(msg);
        Message.destinationName = topic;
        mqtt.send(Message);
        document.getElementById("messages").innerHTML += "<span> Message to topic "+topic+ " with value = " +msg + " is sent </span><br>";
    }
    function carcallClick(){
        var msg = document.getElementById("carcall").value;
        var topic = document.getElementById("elevator").value +"/"+ "carcall";
        Message = new Paho.MQTT.Message(msg);
        Message.destinationName = topic;
        mqtt.send(Message);
        document.getElementById("messages").innerHTML += "<span> Message to topic "+topic+ " with value = " +msg + " is sent </span><br>";
    }
    function callupClick(){
        var msg = document.getElementById("callup").value;
        var topic = document.getElementById("elevator").value +"/"+ "callup";
        Message = new Paho.MQTT.Message(msg);
        Message.destinationName = topic;
        mqtt.send(Message);
        document.getElementById("messages").innerHTML += "<span> Message to topic "+topic+ " with value = " +msg + " is sent </span><br>";
    }
    function calldnClick(){
        var msg = document.getElementById("calldn").value;
        var topic = document.getElementById("elevator").value +"/"+ "calldn";
        Message = new Paho.MQTT.Message(msg);
        Message.destinationName = topic;
        mqtt.send(Message);
        document.getElementById("messages").innerHTML += "<span> Message to topic "+topic+ " with value = " +msg + " is sent </span><br>";
    }
    </script>
</head>
<body>
    <h3 style="text-align: center;"> TKE Monitoring & Controlling System</h3>
    <div class="container">
        <section>
            <input id="connectStatus" type="text" name="connectStatus" style="height: 70px; width:100%; text-align: center;color:green;font-weight:bold; font-size: 110%;" placeholder="DISCONNECTED" disabled>
            <input type="button" onclick="startConnect()"  value="CONNECT" style=" border: none;height: 70px; width:49%; font-size: 120%;font-weight:bold;color:green; text-align: center; background: skyblue;">
            <input type="button"  onclick="startDisconnect()" value="DISCONNECT" style= "border: none; height: 70px;width:49%; font-size: 120%;font-weight:bold;color:green; text-align: center; background:skyblue;">
        </section>
        <section>
            <input type="button" onclick="elesct()" value="Ele Selected" style="border-radius: 15px;height: 90px; width: 49%; text-align: center;font-weight:bold; font-size: 150%;background:black" >
            <select id="elevator" name="elevator" style="height: 90px; width:49%; text-align: center;color:green;font-weight:bold; font-size: 150%; background:black" >
                <option value="P1">P1</option>
                <option value="P2">P2</option>
                <option value="P3">P3</option>
                <option value="P4">P4</option>
                <option value="P5">P5</option>
                <option value="P6">P6</option>
                <option value="P7">P7</option>
                <option value="P8">P8</option>
            </select>
        </section>
        <section>
            <input id= "display" type="text" name="display" style="height: 90px; width: 49%; text-align: center;color:green;font-weight:bold; font-size: 240%;" placeholder="12B" disabled>
            <input id= "direction" type="text" name="direction" style="height: 90px;width: 49%; text-align: center;color:green;font-weight:bold; font-size: 240%;" placeholder="V" disabled>
            <input id= "onoff" type="text" name="onoff" style="height:90px; width: 49%;text-align: center;color:green;font-weight:bold; font-size: 220%;" placeholder="OFF" disabled>
            <input id= "doorstatus" type="text" style="height: 90px;width: 49%;text-align: center;color:green;font-weight:bold; font-size: 220%;" name="doorstatus" placeholder="OPENED" disabled >
            <input id= "liftstatus" type="text" name="liftstatus" style="height: 90px; width:49%; text-align: center;color:green;font-weight:bold; font-size: 240%;" placeholder="JU" disabled>
            <input id="att" type="button" onclick="attClick()" value="ATT" style=" height: 90px; width: 49%;background: skyblue; text-align: center;font-weight:bold; font-size: 200%;" >
            <input type="button" onclick="carcallClick()" value="Car Call" style=" height: 90px; width: 49%; text-align: center;font-weight:bold; font-size: 30px;" >
            <select id="carcall" name="carcall" style="height: 90px; width:49%; text-align: center;color:green;font-weight:bold; font-size: 30px;" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
              <!-- <input id= "carcall" type="text" name="carcall" style="height: 90px; width:150px; text-align: center;color:green;font-weight:bold; font-size: 20px;" placeholder="Car Call = 5F">
              -->

            <input type="button" onclick="callupClick()" value="Call UP" style=" height: 90px; width: 49%; text-align: center;font-weight:bold; font-size:30px;" >
            <!--
             <input id= "landingcalupcall" type="text" name="landingcalupcall" style="height: 90px; width:150px; text-align: center;color:green;font-weight:bold; font-size: 20px;" placeholder="Call up = 5F">
            -->
            <select id="callup" name="callup" style="height: 90px; width:49%; text-align: center;color:green;font-weight:bold; font-size: 30px;" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <input type="button" onclick="calldnClick()" value="Call DN" style=" height: 90px; width:49%; text-align: center;font-weight:bold; font-size: 30px;" >
            <!--
             <input id= "landingcaldncall" type="text" name="landingcaldncall" style="height: 90px; width:150px; text-align: center;color:green;font-weight:bold; font-size: 20px;" placeholder="Call dn = 5F">
            -->
            <select id="calldn" name="calldn" style="height: 90px; width:49%; text-align: center;color:green;font-weight:bold; font-size: 30px;" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <input id ="dooropen" type="button" onclick="opendoor()" value="<|>" style="height: 90px; width: 49%; text-align: center;font-weight:bold; font-size: 200%;">
            <input id = "doorclose" type="button" onclick="closedoor()" value=">|<" style="height: 90px; width: 49%; text-align: center;font-weight:bold; font-size: 200%;">

        </section>
    </div>
</body>
