<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Add Elevator</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
    <h1>Add Elevator</h1>
    <div th:replace="fragments/message :: div"></div>
    <form th:action="@{/area/{areaId}/add-elevator(areaId=${area.id})}" method="post">
        <input type="text" id="country" th:value="${building.country}" hidden>
        <input type="text" id="city" th:value="${building.city}" hidden>
        <input type="text" id="building" th:value="${building.name}" hidden>
        <input type="text" id="area" th:value="${area.name}" hidden>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="elevatorName">Elevator Name:</label>
                <input type="text" class="form-control" id="elevatorName" name="name" required th:value="${elevator.name}">
            </div>
            <div class="form-group col-md-6">
                <label for="numFloors">Number of Floors:</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="numFloors" name="numFloors" required>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="generateFloors">Generate Floor List</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="floorsList">List of Floors:</label>
            <input type="text" class="form-control" id="floorsList" name="listFloors" th:value="${elevator.listFloors}" readonly required>
        </div>
        <div class="form-group">
            <label for="elevatorTopic">Topic:</label>
            <input type="text" class="form-control" id="elevatorTopic" name="topic" readonly>
        </div>
        <div class="form-group" hidden>
            <label for="areaId">Area ID:</label>
            <input type="number" class="form-control" id="areaId" name="areaId" th:value="${area.id}" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
<!--        <a class="btn btn-secondary" th:href="@{/area/{areaId}(areaId=${area.id})}">Back</a>-->
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('generateFloors').addEventListener('click', function() {
        var numFloors = document.getElementById('numFloors').value;
        if (numFloors.trim() === '') {
            alert('Please enter the number of floors.');
            return;
        }

        var floorsList = document.getElementById('floorsList');
        var floors = [];
        for (var i = 1; i <= numFloors; i++) {
            floors.push(i);
        }
        floorsList.value = floors.join('->');
        floorsList.readOnly = false;
    });

    document.getElementById('floorsList').addEventListener('input', function() {
        var floorsList = document.getElementById('floorsList').value;
        var numFloors = floorsList.split('->').length;
        document.getElementById('numFloors').value = numFloors;
    });

    document.getElementById('elevatorName').addEventListener('input', function() {
        var elevatorName = document.getElementById('elevatorName').value;
        var topicInput = document.getElementById('elevatorTopic');

        var areaCountry = document.getElementById('country').value;
        var city = document.getElementById('city').value;
        var building = document.getElementById('building').value;
        var areaName =  document.getElementById('area').value;

        if (elevatorName.trim() === '') {
            topicInput.value = '';
        } else {
            topicInput.value = areaCountry + '/' + city + '/' + building + '/' + areaName + '/' + elevatorName;
        }
    });
</script>
</body>
</html>
